node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Local SQLite databases (created by `npm run db:push`)
database.sqlite
database.sqlite-journal
prisma/database.sqlite
prisma/database.sqlite-journal
